:root {
  --soft_red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark_desaturated_cyan: hsl(167, 40%, 24%);
  --dark_blue: hsl(198, 62%, 26%);
  --dark_moderate_cyan: hsl(168, 34%, 41%);

  --cyan: #9fcfc3;
  --blue: #3ebefe;

  --very_dark_desaturated_blue: hsl(212, 27%, 19%);
  --very_dark_grayish_blue: hsl(213, 9%, 39%);
  --dark_grayish_blue: hsl(232, 10%, 55%);
  --grayish_blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
